* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}
.calculator {
    width: 320px;
    background-color: rgb(105, 105, 160);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px, 5px, 10px, rgba(0,0,0,0.3);
}
.display {
    background-color: #442323;
    color: #fa1515;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    min-height: 70.px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
.button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    background-color: #3c0808;
    color: #e80909;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: #640d0d;
}
#equals {
    background-color: #7a2f18;
    color: #f32f2f;
    grid-column: span 2;
}
#equals:hover {
    background-color: #803124;
}
#clear, #sqrt {
    background-color: #ff3b30;
}
#clear:hover, #sqrt:hover {
    background-color: #42110f;
}